Sign Up!

<form action="/signup" method="POST">
  <input name="l">
  <input name="p">
  <input type="submit">
</form>

Existing User?

<form action="/login" method="POST">
  <input name="l">
  <input name="p">
  <input type="submit">
</form>
